*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 1px;
  width: 100%;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  background-color: #ffffff80;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.container > h1 {
  text-transform: uppercase;
}

.recipes-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}

.recipe-item::before {
  content: '🥗';
  margin-right: 4px;
}

.recipe-item > a {
  display: inline-block;
  padding: 4px;
}

/* Recipe Page */

.page-container {
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.page-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.page-header > img {
  max-width: 600px;
  border-radius: 1rem;
}

/* Recipe Page Layout */

.page-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-section > h2 {
  color: olive;
}

.page-section > h3 {
  color: gray;
}

.ingredients-list {
  columns: 2;
}

.ingredients-list > li::before {
  content: '✅';
  margin-right: 1rem;
}

.steps-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.steps-list > li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
